<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h3 class="card-title mb-4">

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid' : isFieldInvalid('username') }" />

            <div *ngIf="isFieldInvalid('username')" class="error">
              username is required
            </div>

          </div>

          <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="text" name="Email" id="Email" class="form-control"
              formControlName="email"
              [ngClass]="{ 'is-invalid' : isFieldInvalid('email') }">

            <div *ngIf="isFieldInvalid('email')" class="error">
              email is required
            </div>
          </div>

          <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="text" name="Password" id="Password"
              class="form-control" formControlName="password"
              [ngClass]="{ 'is-invalid' : isFieldInvalid('password') }">
            <div *ngIf="isFieldInvalid('password')" class="error">
              password is required
            </div>
          </div>

          <div class="mb-3">
            <label for="photo_profile" class="form-label">photo_profile</label>
            <input type="file" name="photo_profile" id="photo_profile"
              class="form-control" (change)="onFileChange($event)">
          </div>

          <button class="btn btn-primary" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
            Create user
          </button>

        </form>

      </h3>
    </div>
  </div>
</div>